@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h2>Blood Pressure Tracker</h2>
    <a asp-controller="BpMeasurement" asp-action="Index">View All Measurements</a> |
    <a asp-controller="BpMeasurement" asp-action="Create">Add New Measurement</a>

    
</div>
