@model BpMeasurement

<h2>Add BP Measurement</h2>

<form asp-controller="BpMeasurement" asp-action="Create" method="post" enctype="application/x-www-form-urlencoded">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Systolic">Systolic (mm Hg)</label>
        <input asp-for="Systolic" class="form-control"/>
        
    </div>
    <div class="form-group">
        <label>Diastolic (mm Hg)</label>
        <input asp-for="Diastolic" class="form-control" />
        
    </div>
    <div class="form-group">
        <label>Position</label>
        <select asp-for="PositionID" asp-items="ViewBag.Positions" class="form-control">
            <option value="">Select a measurement position..</option>
        </select>
        
    </div>
    <div class="form-group">
        <label>Date of measurement</label>
        <input asp-for="MeasurementDate" class="form-control" type="date" />
        
    </div>
    
    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}